@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.header_component {
  display: flex;
  justify-content: center;
  background: #ffff33;
  height: 80px;
}

.header {
  display: flex;
  width: 1020px;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.logo_img {
  width: 60px;
}

.navBar {
  width: max-content;
}

.navBar_item {
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  text-decoration: none;
}