.card {
  height: 400px;
  width: 700px;
  border: 2px solid var(--border);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  position: relative;
  overflow: hidden;

  input {
    margin: 8px 0;
    width: 80%;
  }
}

.signIn {
  width: 696px;
  display: flex;
  justify-content: space-between;

}

.signIn__form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.signIn__toSignUp {
  width: 50%;
  height: 396px;
  border-radius: 0 10px 10px 0;
  background: var(--bg-fild);
  color: var(text);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  h3 {
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
  }

}

.signUp {
  display: flex;
  justify-content: space-between;
}

.signUp__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.signUn__toSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background: var(--bg-fild);
  height: 396px;
  border-radius: 10px 0 0 10px;
  align-items: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  h3 {
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
  }
}

.errorMessage {
  position: absolute;
  color: red;
  margin: 5px 0 0 5px;
}

.errorMessage__right {
  position: absolute;
  margin: 5px 5px 0 0;
  right: 0;
}

.switcher {
  display: flex;

  &.switcher-enter {
    opacity: 0;
  }

  &.switcher-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  &.switcher-exit {
    opacity: 1;
  }

  &.switcher-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}

.signIn,
.signUp {
  position: absolute;
  transform: translate(0px);
  transition: transform 0.5s linear;
}

.signIn.hidden {
  transform: translate(100%);
}

.signUp.hidden {
  transform: translate(-100%);
}

